body {
	background-image: url(images/c5.jpg);
}
#header {
	background-image: url(images/header.png);
	height: 150px;
	min-width: 750px;
	z-index: -1;
}
#back {
	width: 85%;
	height: 850px;
	background-color: #FFFFFF;
	opacity: 0.4;
	position: absolute;
	top: 20px;
	z-index: -2;
	margin: 0 auto;
	left: 0;
	right: 0;
	min-width: 750px;
}
#header-text {
	font-size: 40px;
	height: 95px;
	width: 168px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 35px;
	background-image: url(images/header-text.png);
}
#menu {
	
}
#aktiv {
	font-weight: bolder;
	background-color: rgba(0,0,255,0.5);
	color: #000000;
	text-decoration: none;
}
#inaktiv {
	background-color: rgba(0,0,128,0.5);
	color: #000000;
	text-decoration: none;
}
